@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #13151A;
}

.grid-pattern {
  background-size: 50px 50px;
  background-image: linear-gradient(to right, #1f2937 1px, transparent 1px),
    linear-gradient(to bottom, #1f2937 1px, transparent 1px);
  background-position: top center;
}